/*
  You can use import statements to include partials:
 */

@import 'imports/normalize';

$mdc-theme-primary: #9c27b0; // Purple 500
$mdc-theme-secondary: #ffab40; // Orange A200
$mdc-theme-background: #fff; // White

@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/dialog/mdc-dialog";

$space--tiny: 1rem;
$space--small: 2rem;
$space--medium: 4rem;
$space--large: 8rem;

/*
   Or add your statements here:
  */
body {
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

// TODO: Check PostCSS
.interest-icon {
  > svg {
    width: 15vh;
    height: 15vh;
  }
}
.interest-content {
  padding: $space--tiny;
}
.interest-title {
  max-width: 15em;
  margin: $space--tiny auto 0;
}
