/*
  You can use import statements to include partials:
 */

@import 'imports/normalize';

$mdc-theme-primary: #9c27b0; // Purple 500
$mdc-theme-secondary: #ffab40; // Orange A200
$mdc-theme-background: #fff; // White

@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/dialog/mdc-dialog";

$space--tiny: 1rem;
$space--small: 2rem;
$space--medium: 4rem;
$space--large: 8rem;

/*
   Or add your statements here:
  */
body {
  font-size: 1em;
  text-align: center;

  @extend .mdc-typography--body1;
}

.uvp-headline {
  padding: 0 $space--small;
}

// TODO: Check PostCSS
.grid__desktop-spacer {
  display: none;

  @media all and (min-width: (#{map-get($mdc-layout-grid-breakpoints, desktop)})) {
    display: block;
  }
}
.grid__tablet-spacer {
  display: none;

  @media all and (max-width: (#{map-get($mdc-layout-grid-breakpoints, desktop) - 1px})) {
    display: block;
  }
}
.interest-icon {
  > svg {
    width: 15vh;
    height: 15vh;
  }

  @media all and (max-width: (#{map-get($mdc-layout-grid-breakpoints, tablet) - 1px})) {
    float: left;
    width: 20%;
    margin-top: $space--tiny / 2;

    > svg {
      width: 100%;
      height: auto;
    }
  }
}
.interest-content {
  padding: $space--tiny;
}
.interest-title {
  max-width: 15em;
  margin: $space--tiny auto 0;

  @media all and (max-width: (#{map-get($mdc-layout-grid-breakpoints, tablet) - 1px})) {
    text-align: left;
    margin-top: 0;
    margin-left: 25%;
    margin-left: calc(20% + #{$space--tiny});
  }
}
.general-info__headline {
  padding-bottom: $space--tiny / 2;
  margin-right: $space--medium;
  border-bottom: 1px solid #ddd;
}
.general-info__general-signup {
  text-align: left;
  padding-right: $space--small;
}
.general-form-iframe {
  width: 100%;
  border: 0;
  height: 400px
}
.general-info__get-in-touch {
  text-align: left;
}
.general-info__get-in-touch-label {
  display: inline-block;
  min-width: 4rem;
}
.signup-terms {
  font-size: 0.7rem;
}
